<main x-data="documentData" x-init="init">
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Progress</th>
      </tr>
    </thead>
    <tbody>
      <template x-for="chapter in chapters" :key="chapter.id">
        <tr>
          <td>
            <a :href="'#/documents/' + document_id + '/read/chapters/' + chapter.id" class="text-blue-500" x-text="chapter.title" @click.prevent="navigateToReader(chapter.id)"></a>
          </td>
          <!-- If progress is a property of the chapter object, then 'chapter.progress' will give its value -->
          <td x-text="chapter.progress ? chapter.progress + '%' : '0%'"></td>
        </tr>
      </template>
    </tbody>
  </table>
</main>
