<main id="rsvpReader" x-data="rsvpApp()" x-init="init" x-on:keydown.space="togglePlayPause">

<div x-cloak x-show="!playing" aria-label="Breadcrumb">
  <ul class="breadcrumb-list">
    <li>
        <a href="/" class="breadcrumb-link">
          <span >Home</span>
        </a>
      <span class="breadcrumb-separator">&#62;</span>
    </li>
    <li>
        <a :href="'#/documents/' + document_id" class="breadcrumb-link">
          <span >Doc</span>
        </a>
    </li>
  </ul>
</div>

<div id="formAndText" x-show="!playing">
  <div style="display:flex; flex-wrap:wrap; align-items:center; justify-content: space-between; gap: 20px; padding: 20px;">
    <div style="flex: 1 0 auto;">
      <label for="wpm">Words per minute:</label>
      <input type="number" id="wpm" x-model.number="readingConfig.words_per_minute">
    </div>
    <div style="flex: 1 0 auto;">
      <label for="num_words">Number of words to display:</label>
      <input type="number" id="num_words" x-model.number="readingConfig.number_of_words">
    </div>
    <div style="flex: 1 0 auto;">
      <label for="font_size">Font size:</label>
      <input type="number" id="font_size" x-model.number="readingConfig.font_size">
    </div>
    <div style="flex: 1 0 auto;">
      <label for="sprint_minutes">Sprint minutes:</label>
      <input type="number" id="sprint_minutes" x-model.number="readingConfig.sprint_minutes">
    </div>
    <div style="flex: 1 0 auto;">
      <label for="ramp_step">Change in WPM each Sprint:</label>
      <input type="number" id="ramp_step" x-model.number="readingConfig.ramp_step">
    </div>
    <div style="flex: 1 0 auto;">
      <label for="step_ups">Number of sprints to increase WPM:</label>
      <input type="number" id="step_ups" x-model.number="readingConfig.step_ups">
    </div>
    <div style="flex: 1 0 auto;">
      <label for="step_downs">Number of sprints to descrease WPM:</label>
      <input type="number" id="step_downs" x-model.number="readingConfig.step_downs">
    </div>
  </div>
  <p x-show="!fetchingWords" id="fulltextdisplay" x-html="fullTextDisplay"></p>
  <img x-show="fetchingWords" alt="Result loading..." width="150" src="/static/loader.svg"/>
</div>

<p x-show="playing" id="rsvp" x-html="rsvpText"></p>

<div class="buttonContainer">
  <input x-show="!playing" type="button" id="backToDock" value="Back to Doc" @click="backToDoc">
  <input x-show="!playing" type="button" id="resetProgress" value="Start from Beginning" @click="resetProgress">
  <input type="button" id="playPause" :value="playing ? 'Pause' : 'Play'" @click="togglePlayPause" x-on:keydown.space.prevent>
  <input x-show="finished" type="button" id="nextChunk" :value="next_index === null ? 'Done! Re-read' : 'Fetch Next Chuck'" @click="fetchNextChunk">
  <input x-show="finished" type="button" id="takeTest" value="Take Test" @click.prevent="loadTest">
</div>


</main>
