<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RSVP</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="/static/document.js"></script>
    <script src="/static/alpine.js" defer></script>
    <script src="/static/htmx.min.js" defer></script>
</head>
<body>
    <div x-data="documentData({{ document_id }})" x-init="fetchDocument">

      <div x-cloak aria-label="Breadcrumb">
        <ul class="breadcrumb-list">
          <li>
              <a href="/" class="breadcrumb-link">
                <span >Home</span>
              </a>
            <span class="breadcrumb-separator">&#62;</span>
          </li>
          <li>
              <span x-text="doc_title"></span>
          </li>
        </ul>
      </div>

        <main >
            <ul >
                <li x-show="chapters.length === 0">
                    <a href="#read" x-text="doc_title"></a>
                </li>
                <template x-for="chapter in chapters" :key="chapter.id">
                    <li >
                        <a :href="'#read/chapters/' + chapter.id" x-text="chapter.title"></a>
                    </li>
                </template>
            </ul>
        </main>
    </div>
</body>
</html>
